/********* @uxpablo **********/

/* GENERAL */

html,
body {
  margin: 0;
  height: 100vh;
}

body {
  background: #6b6b6b;
}

.container-fluid {
  background: url(i/cornerRight.svg) no-repeat right bottom;
}

ul {
  margin-top: revert;
}

li {
  list-style: none;
  margin-top: 1rem;
}

button {
  border: none;
}

button:focus {
  border: none;
}

.container-fluid {
  height: 100%;
}

button {
  background: none;
}

.hide {
  display: none;
}

h3 {
  font-weight: bold;
}

/* BRANDING */

.deco {
  background: url(i/cornerLeft.svg) no-repeat left top;
  height: 100%;
}

.brand {
  width: 200px;
  text-indent: -9999px;
  background: url(i/brand.svg) no-repeat left center;
  background-size: 200px 40px;
  display: block;
  margin: 0 auto 2rem auto;
}

#tagline {
  opacity: 0.2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 2rem;
}

.taglineOn {
  opacity: 0.2;
  color: #fff !important;
}

/* LAYOUT */

.stage {
  width: 70%;
  box-shadow: 0 11px 44px 13px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

.shadowVideo {
  width: 70%;
  box-shadow: 0 11px 44px 13px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

.boxVideo {
  padding-top: 1rem;
}

/* VIDEO */

.keypad li {
  float: none;
  display: block;
  text-align: right;
}

.shape {
  width: 5vw;
  height: auto;
}

.btnOn {
  box-shadow: none !important;
}

.videoOn {
  background-color: #000000;
  background-image: none !important;
}

.noBg {
  background: none !important;
}

/* BREACKPOINTS */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .deco {
    background: url(i/cornerLeft.svg) repeat -7rem top;
  }

  .container-fluid {
    background: url(i/cornerRightMobile.svg) no-repeat right bottom;
  }

  .brand {
    display: none;
  }

  .tagline {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .keypad li {
    float: left;
    margin-left: 2.3rem;
  }

  .shape {
    width: 14vw;
    border-radius: 4rem;
  }

  .h-100-mobile {
    height: none !important;
  }

  #tagline {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  #hero {
    font-size: 1.5rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .tagline {
    font-size: 2rem;
  }

  .shape {
    width: 10vw;
    border-radius: 4rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    background: url(i/cornerLeftTablet.svg) #6b6b6b no-repeat left top;
  }

  .container-fluid {
    background: url(i/cornerRight.svg) no-repeat right bottom;
  }

  .tagline {
    font-size: 2rem;
  }

  .shape {
    width: 10vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .shape {
    width: 7vw;
  }

  .stage {
    width: 85%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .shape {
    width: 6vw;
  }

  .stage {
    width: 60%;
  }

  .col-lg-3 {
    flex: 0 0 45%;
    max-width: 30%;
  }

  .col-lg-6 {
    flex: 0 0 40%;
    max-width: 50%;
  }
}
